.cardContainer {
  all: unset;
  width: 100%;
  height: auto;
  background-color: #232323;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
}

.cardImage {
  width: 55%;
}

.cardImage img {
  all: unset;
  height: auto;
  width: 90%;
  max-width: 30rem;
  margin-left: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  object-fit: cover;
}

.buttons a {
  text-decoration: none;
  color: #ffffff;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2rem;
}

.buttons button {
  all: unset;
  color: #ffffff;
  font-size: 0.6em;
  height: 2em;
  max-width: 6em;
  padding: 0.8em;
  border: none;
  align-items: center;
  text-align: center;
  border-radius: 0.4em;
  background: linear-gradient(
    180deg,
    rgba(105, 150, 239, 1) 0%,
    rgba(81, 111, 225, 1) 100%
  );
  font-family: "Montserrat", sans-serif;
}

.buttons button:hover {
  cursor: pointer;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.buttonRounded {
  text-align: center;
  height: 1em !important;
  margin-left: 1rem !important;
  font-size: 0.8em !important;
  position: relative;
  border-radius: 2em !important;
}

.iconGitHub {
  padding-bottom: 0rem;
}

/* RESPONSIVE */

@media screen and (max-width: 576px) {
  .cardContainer {
    width: 90%;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 1rem;
  }

  .cardText {
    width: 80%;
  }

  .cardImage img {
    display: none;
  }

  .buttons {
    margin-top: 0.5em;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 770px) {
  .cardContainer {
    width: 90%;
    margin-bottom: 0;
    height: auto;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .cardText {
    width: 30%;
  }

  .cardImage img {
    width: 70%;
    margin-top: 1rem;
  }

  .buttons {
    margin-top: 0.5em;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .cardContainer {
    width: 90%;
    margin-bottom: 0;
    height: auto;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .cardText {
    width: 30%;
  }

  .cardImage img {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 1rem;
  }

  .buttons {
    margin-top: 0.5em;
    margin-bottom: 2rem;
  }
}

/* CSS ANIMATIONS */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
