.table {
  display: inline-block;
  z-index: 9999;
  width: 1vw;
  position: fixed;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: inline-block;
}

.dot {
  min-height: 8px;
  min-width: 8px;
  margin: 1em;
  background-color: none;
  border: 2px solid #ffffff;
  border-radius: 99999px;
}
