.skillsContainer {
  width: 100vw;
  min-height: 100vh;
  background-size: cover !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.boxContainer {
  all: unset;
  width: 50%;
  height: auto;
  border-radius: 3rem;
  /* #191919 */
  background-color: #232323;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.boxContainer h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2rem;
}

.boxContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 7rem;
  margin-bottom: 2.5rem;
}

.icons {
  padding: 1rem 3rem;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #715df2;
}

.icons:hover {
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.icons p {
  font-size: 1rem !important;
  color: #ffffff !important;
}

.icons p:hover {
  color: #6d83f2;
}

/* RESPOSIVE */

@media screen and (max-width: 576px) {
  .skillsContainer {
    margin-bottom: 5rem;
  }
  .boxContainer {
    height: 100%;
    width: 90%;
  }
  .boxContainer h2 {
    font-size: 2.5rem;
    padding-bottom: 0;
  }
  .boxContent {
    height: 100%;
    width: 100%;
  }
  .icons {
    font-size: 0.5em;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .boxContainer {
    width: 80%;
    height: auto;
  }
  .boxContainer h2 {
    font-size: 2.5rem;
    padding-top: 1em;
    padding-bottom: 0;
  }
  .boxContent {
    padding-bottom: 0.25em;
    padding-top: 0.5em;
    height: auto;
    width: 100%;
  }
  .icons {
    font-size: 0.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 993px) {
  .boxContainer {
    width: 80%;
    height: auto;
  }
  .boxContainer h2 {
    font-size: 2.5rem;
    padding-top: 1em;
    padding-bottom: 0;
  }
  .boxContent {
    padding-bottom: 0.25em;
    padding-top: 0.5em;
    height: auto;
    width: 100%;
  }
  .icons {
    font-size: 0.5em;
  }
}

/* CSS ANIMATIONS */

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
