.skillsContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/skills_svg.svg");
  background-position: 10%;
  color: white;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.boxContainer {
  all: unset;
  width: 50%;
  height: 50%;
  border-radius: 3rem;
  padding: 3rem;
  background-color: #232323;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /*background-color: #191919;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.boxContainer h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}

.boxContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 7rem;
}

.icons {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #6d83f2;
}

.icons:hover {
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.icons p {
  font-size: 1rem !important;
  color: #ffffff !important;
}

.icons p:hover {
  color: #6d83f2;
}

/* CSS ANIMATIONS */

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
