.aboutContainer {
  width: 100vw;
  height: 100vh;
  /*background-image: url("../../assets/img/about_svg.svg");*/
  /*background-position: 50% 100%; */
  color: white;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.boxContainer {
  all: unset;
  width: 50%;
  height: auto;
  border-radius: 3rem;
  background-color: #232323;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.boxContainer h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}

.boxContent {
  display: flex;
  height: auto;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
}

.boxContent img {
  width: 30%;
  all: unset;
  max-width: 12em;
  border-radius: 12em;
  border: 12px solid #fff;
}

.boxContent img:hover {
  cursor: auto;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.boxContent p {
  width: 60%;
  padding-left: 2em;
  font-weight: 300;
}

.scrollBtnOff {
  display: none;
}

.scrollBtn {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 92vh;
  left: 0;
  right: 0;
  margin-right: 3rem;
  z-index: 99;
}

/* RESPONSIVE */

@media screen and (max-width: 576px) {
  .aboutContainer {
    margin-bottom: 5rem;
  }
  .boxContainer {
    height: auto;
    width: 90%;
  }
  .boxContainer h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
  .boxContent {
    height: auto;
    width: 100%;
    flex-direction: column;
  }

  .boxContent p {
    padding-top: 1rem;
  }

  .scrollBtn {
    margin-right: 1em;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .aboutContainer {
    margin-bottom: 5rem;
  }
  .boxContainer {
    height: auto;
    width: 80%;
  }
  .boxContainer h2 {
    padding-top: 0.5em;
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
  .boxContent {
    height: auto;
    padding-bottom: 1em;
    padding-top: 0.5em;
    width: 100%;
    flex-direction: column;
  }

  .boxContent p {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .aboutContainer {
    height: 100vh;
    margin-bottom: 10rem;
  }
  .boxContainer {
    height: auto;
    width: 80%;
  }
  .boxContainer h2 {
    padding-top: 0.5em;
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
  .boxContent {
    height: auto;
    padding-bottom: 1em;
    padding-top: 0.5em;
    width: 100%;
    flex-direction: column;
  }

  .boxContent p {
    padding-top: 1rem;
  }
}

/* CSS ANIMATIONS */

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
