.aboutContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/about_svg.svg");
  background-size: cover;
  color: white;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.boxContainer {
  all: unset;
  width: 50%;
  height: 50%;
  border-radius: 3rem;
  /*background-color: #191919;*/
  background-color: #232323;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.boxContainer h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}

.boxContent {
  display: flex;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
}

.boxContent img {
  width: 30%;
  all: unset;
  max-width: 12em;
  border-radius: 12em;
  border: 12px solid #fff;
}

.boxContent img:hover {
  cursor: auto;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.boxContent p {
  width: 60%;
  padding-left: 2em;
  font-weight: 300;
}

/* CSS ANIMATIONS */

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
