.homeContainer {
  width: 100vw;
  height: 100vh;
  /*background-color: #191919;*/
  background-image: url("../../assets/img/home_svg1.svg");
  background-position: 50% 100% !important;
  background-size: cover !important;
  color: white;
  display: flex;
}

.bigContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.textLeft {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.textLeft p {
  font-size: 0.8em;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.textLeft h1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
}

.subTitle {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.3em !important;
}

.textLeft button {
  all: unset;
  margin-top: 1rem;
  font-size: 0.6em;
  margin: auto;
  text-align: center;
  max-width: 8rem;
  padding: 0.8em;
  border: none;
  border-radius: 0.4em;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.textLeft button:hover {
  cursor: pointer;
  cursor: auto;
  cursor: pointer;
  transition: 1s;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  color: #000000;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.icons {
  margin-top: 1rem;
}

.icons a {
  margin-right: 2rem;
  color: #6d83f2;
  font-size: 1.4rem;
}

.icons a:hover {
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
}

.aside {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

/* RESPONSIVE */

@media screen and (max-width: 576px) {
  .homeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: 0%;
    background-size: cover;
  }
  .mainContainer {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .textLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .homeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: 0%;
    background-size: cover;
  }
  .mainContainer {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .textLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 4em;
    width: 100%;
  }

  .aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 993px) {
}

/* CSS ANIMATIONS */

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
