.homeContainer {
  width: 100vw;
  height: 100vh;
  background-color: #191919;
  color: white;
  display: flex;
}

.bigContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.rectangle {
  all: unset;
  width: 150%;
  height: 120%;
  position: absolute;
  justify-content: flex-end;
  top: -200px;
  left: 100px;
  z-index: 2;
}

.textLeft {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.textLeft p {
  font-size: 0.7em;
  font-family: "Montserrat", sans-serif;
}

.textLeft h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.subTitle {
  text-transform: uppercase;
  font-size: 1.3em !important;
  font-weight: 300;
}

.textLeft button {
  all: unset;
  margin-top: 1rem;
  font-size: 0.6em;
  margin: auto;
  text-align: center;
  max-width: 8rem;
  padding: 0.8em;
  border: none;
  border-radius: 0.4em;
  background: linear-gradient(
    180deg,
    rgba(105, 150, 239, 1) 0%,
    rgba(81, 111, 225, 1) 100%
  );
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.textLeft button:hover {
  cursor: pointer;
}

.textLeft button:hover {
  background-color: grey;
}

.icons {
  margin-top: 1rem;
}

.icons a {
  margin-right: 2rem;
  color: #6d83f2;
  font-size: 1.4rem;
}

.icons a:hover {
  cursor: pointer;
  color: #ffffff;
}

.aside {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
