.contactContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 50vh;
  background-color: #191919;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem; /* BORRAR */
}

.contactContainer h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

.boxContent {
  width: 50%;
  height: 80%;
  background-color: #232323;
  display: flex;
  align-items: center;
  border-radius: 1em;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5em;
}

.inputs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
}

.inputs label {
  width: 120%;
  margin-right: 1em;
}

.inputs p {
  font-size: 1em !important;
}

form {
  all: unset;
  width: 80%;
  height: 100%;
  font-family: "Karla", sans-serif;
}

form input {
  height: 2em;
  width: 100%;
}

form textarea {
  width: 100%;
  height: 60%;
}

::-webkit-input-placeholder {
  font-size: 1.2em;
  font-family: "Karla", sans-serif;
}

:-moz-placeholder {
  font-size: 1.2em;
  font-family: "Karla", sans-serif;
}
::-moz-placeholder {
  font-size: 1.2em;
  font-family: "Karla", sans-serif;
}
:-ms-input-placeholder {
  font-size: 1.2em;
  font-family: "Karla", sans-serif;
}

form input::placeholder {
  font-size: 1.2em;
}

form textarea::placeholder {
  font-size: 1.2em;
  font-family: "Karla", sans-serif;
}
