.contactContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  /*background-image: url("../../assets/img/home_svg1.svg");*/
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin-bottom: 5rem;
}

.contactContainer h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

.boxContent {
  width: 50%;
  height: auto;
  background-color: #232323;
  display: flex;
  align-items: center;
  border-radius: 1em;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5em;
}

form {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  font-family: "Karla", sans-serif !important;
}

form input {
  height: 2em;
  width: 100%;
  font-family: "Karla", sans-serif;
  font-size: 0.8em;
}

form label {
  width: 100%;
}

form textarea {
  display: flex;
  font-family: "Karla", sans-serif;
  font-size: 0.8em;
  width: 98%;
  height: 10rem;
}

::-webkit-input-placeholder {
  font-size: 1.2em;
  font-family: "Karla", sans-serif;
}

:-moz-placeholder {
  font-size: 1.2em;
  font-family: "Karla", sans-serif;
}
::-moz-placeholder {
  font-size: 1.2em;
  font-family: "Karla", sans-serif;
}
:-ms-input-placeholder {
  font-size: 1.2em;
  font-family: "Karla", sans-serif;
}

form input::placeholder {
  font-family: "Karla", sans-serif;
  font-size: 1.2em;
}

form textarea:active {
  font-family: "Karla", sans-serif;
}

form textarea::placeholder {
  font-size: 1.2em;
  font-family: "Karla", sans-serif;
}

form label button {
  all: unset;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: center;
  flex-direction: row;
  cursor: pointer;
  margin: auto;
  margin-top: 4rem;
  font-size: 0.8em;
  width: 20%;
  max-height: 2rem;
  max-width: 10rem;
  padding: 0.9em;
  border: none;
  border-radius: 0.4em;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

form label button:hover {
  cursor: pointer;
  cursor: auto;
  cursor: pointer;
  transition: 1s;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  color: #000000;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.inputs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
}

.inputs label {
  width: 120%;
  margin-right: 1em;
}

.inputs p {
  font-size: 1em !important;
}

/* ERRORS */

.errors {
  color: red;
  outline-color: red !important;
  outline-width: 2em;
}

.btnError {
  all: unset;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: center;
  flex-direction: row;
  cursor: pointer;
  margin: auto;
  margin-top: 2em;
  font-size: 0.8em;
  width: 20%;
  max-width: 10rem;
  max-height: 2rem;
  padding: 0.9em;
  border: none;
  border-radius: 0.4em;
  background-image: radial-gradient(
    circle 685.3px at 47.8% 55.1%,
    rgba(255, 99, 152, 1) 0%,
    rgba(251, 213, 149, 1) 90.1%
  );
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.btnError:hover {
  background-image: radial-gradient(
    circle 860px at 11.8% 33.5%,
    rgba(240, 30, 92, 1) 0%,
    rgba(244, 49, 74, 1) 30.5%,
    rgba(249, 75, 37, 1) 56.1%,
    rgba(250, 88, 19, 1) 75.6%,
    rgba(253, 102, 2, 1) 100.2%
  );
  cursor: not-allowed;
}

/* RESPOSIVE */

@media screen and (max-width: 576px) {
  .boxContainer {
    height: 100%;
    width: 90%;
  }
  .boxContainer h2 {
    font-size: 2.5rem;
    padding-bottom: 0;
  }
  .boxContent {
    width: 90%;
  }
}

@media screen and (min-width: 576px) and (max-width: 770px) {
  .mainContainer {
    height: auto;
    width: 80%;
    margin-bottom: 8em;
  }
  .boxContainer {
    height: auto;
  }
  .boxContainer h2 {
    font-size: 2.5rem;
    padding-bottom: 0;
  }
  .boxContent {
    width: 100%;
    height: auto;
    padding-top: 1em;
    padding-bottom: 4em;
  }

  form {
    height: auto;
  }

  form label button {
    margin-top: 4em;
  }
}

@media screen and (min-width: 768px) and (max-width: 993px) {
  .mainContainer {
    height: 50%;
    width: 80%;
    margin-bottom: 8em;
  }
  .boxContainer {
    height: auto;
  }
  .boxContainer h2 {
    font-size: 2.5rem;
    padding-bottom: 0;
  }
  .boxContent {
    width: 100%;
    height: auto;
    padding-top: 1em;
    padding-bottom: 4em;
  }

  form {
    height: auto;
  }

  form label button {
    margin-top: 4em;
  }
}

/* CSS ANIMATIONS */

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
