.navContainer {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  position: fixed;
  z-index: 1000;
}

img {
  max-width: 200px;
  max-height: 42px;
  margin: 1rem 1.5rem;
}

img:hover {
  cursor: pointer;
}

nav {
  display: inline;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 1rem 1rem; /* Top, right, bottom, left */
  z-index: 4;
}

ul li a {
  padding: 1rem;
  text-decoration: none;
  color: #ffffff;
}

ul li a:hover {
  color: #6d83f2;
  cursor: pointer;
}

/* RESPONSIVE */

@media screen and (max-width: 576px) {
  .navContainer {
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  ul {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
  }

  ul li a {
    padding: 1.5rem;
    padding-right: 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .navContainer {
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  ul {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
  }

  ul li a {
    padding: 1.5rem;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 993px) {
}
