.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
}

.footerContainer p {
  background-color: #ffffff;
  padding: 0.3em;
  border-radius: 1rem;
  color: #000;
  word-spacing: 1px;
  font-weight: 300;
  font-size: 1rem;
}

.footerContainer a {
  text-decoration: none;
  color: #000;
}

/* RESPONSIVE */

@media screen and (max-width: 576px) {
  .footerContainer {
    min-height: 20vh;
    width: 100%;
  }
}
