@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;500;700&family=Montserrat:wght@300;500;700;900&display=swap");

body {
  font-size: calc(12px + 0.4vw); /* 16px */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191919;
  overflow-x: hidden;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
